@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;900&family=Poppins:wght@300;400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}
* li {
  list-style: none;
}

* a {
  text-decoration: none;
}

* button {
  outline: none;
  border: none;
}

html {
  font-size: 62.5%;
}

/*_____________colors___________*/

:root {
  --color-primary: #34c0bc;
  --color-secondary: #349cc0;
  --color-accent: #d8bcbc;
  --color-light: #ffffff;
  --color-main: #ecfaff;
  --color-text: #666;
}

body {
  height: 100vh;
  overflow: hidden;
}

.container {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: var(--color-main);
}

/*_______________Navigation Bar*/

nav {
  background: linear-gradient(45deg, var(--color-main), var(--color-light));
  display: flex;
  height: 80px;
  justify-content: space-around;
  line-height: 80px;
  align-items: center;
  width: 100%;
  z-index: 112;
  position: fixed;
  top: 0;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
  width: 100%;
  object-fit: contain;
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
  width: 240px;
  max-width: 250px;
  height: 80px;
  margin: 0 20px;
  z-index: 112;
}

@media (max-width: 768px) {
  .logo {
    width: 100%;
  }
}

.nav-items {
  display: flex;
}

.nav-items li {
  margin: 0 15px;
}

.nav-items li a {
  color: var(--color-text);
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 2.5rem;
  transition: 0.3s ease-in-out;
}

.links a {
  font-size: 2.5rem;
  color: var(--color-text);
  margin: 25px 10px;
  transition: 0.3s ease-in-out;
}

.hamburger {
  display: none;
}

.nav-items li:hover a,
.links a:hover {
  color: var(--color-secondary);
}

@media (max-width: 768px) {
  .nav-items {
    flex-direction: column;
    background: linear-gradient(350deg, var(--color-main), var(--color-light));
    top: -200px;
    width: 100%;
    position: fixed;
    bottom: 0;
    max-height: 0;
    padding: 100px 15px;
    transition: 0.3s;
  }
  .nav-items li {
    display: none;
  }

  .nav-items.open {
    max-height: 100vh;
    top: 0;
  }

  .nav-items.open li {
    display: block;
  }
  .hamburger {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    background: none;
    border-radius: 10px;
    margin-right: 15px;
    color: var(--color-text);
    cursor: pointer;
    transition: 0.3s ease;
  }

  .hamburger:hover {
    color: var(--color-secondary);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }

  .hamburger i {
    position: absolute;
  }

  .hamburger .fa-times {
    font-size: 0;
  }

  .nav-items.open .hamburger .fa-times {
    font-size: 3rem;
  }

  .nav-items.open .hamburger .fa-hamburger {
    font-size: 0;
  }
}

@media screen and (max-width: 1024px) {
  .links {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50%;
    right: 15px;
    line-height: normal;
    transform: translateY(-50%);
  }

  .links a {
    margin: 0;
  }
  nav {
    justify-content: space-between;
  }
}

@media (max-width: 800px) {
  .links a {
    font-size: 2rem;
  }

  .nav-items li a {
    font-size: 2rem;
  }
}

/*______________home page_______________*/

.wrapper {
  align-items: center;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  overflow-x: hidden;
  padding: 80px 10% 0;
  width: 100vw;
}

.wrapper::before {
  content: "";
  background: linear-gradient(
    45deg,
    var(--color-secondary),
    var(--color-accent)
  );
  top: 40%;
  left: -12%;
  position: absolute;
  height: 600px;

  width: 600px;
  border-radius: 50%;
  animation: object1 6s linear infinite;
}

.wrapper::after {
  content: "";
  background: linear-gradient(
    45deg,
    var(--color-secondary),
    var(--color-accent)
  );
  top: 12%;
  left: 35%;
  position: absolute;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  animation: object2 6s linear infinite;
}

@media (max-width: 768px) {
  .wrapper::before {
    height: 30rem;

    width: 30rem;
  }
  .wrapper::after {
    height: 10rem;

    width: 10rem;
  }
}
@keyframes object1 {
  50% {
    left: -13%;
    top: 41%;
  }
}

@keyframes object2 {
  50% {
    left: 35%;
    top: 10%;
  }
}

.cols {
  width: 100%;
  z-index: 5;
}

.cols0 {
  width: 100%;
  margin-bottom: 80px;
}

.topline {
  color: var(--color-text);
  display: block;
  font-size: 3.5rem;
  letter-spacing: 5px;
  position: relative;
}

.topline::after {
  background: var(--color-secondary);
  bottom: 10px;
  content: "";
  height: 4px;
  position: absolute;
  width: 45px;
}

.wrapper h1 {
  display: block;
  font-size: 7rem;
  font-weight: 900;
}

.multiText {
  color: var(--color-secondary);
  text-transform: capitalize;
}

.wrapper p {
  display: block;
  width: 90%;
  font-size: 1.2rem;
  color: var(--color-text);
}

.btns {
  width: 100%;
  position: relative;
}

.wrapper button {
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--color-light);
  background: var(--color-text);
  margin: 40px 5px;
  padding: 8px 14px;
  border-radius: 6px;
  letter-spacing: 2px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
  transition: 0.3s ease;
}

.wrapper button:hover {
  background: var(--color-secondary);
}

.imgbox {
  position: relative;
  width: 100%;
  height: 100%;
}

.imgbox img {
  height: 100%;
  width: calc(130% - 80px);
  object-fit: cover;
}

.imgbox span {
  position: relative;
  top: 160px;
  right: 40px;

  display: flex;
  align-items: baseline;
  justify-content: center;
  animation: animateUser 4s linear infinite;
}

.imgbox span::after {
  content: "";
  position: absolute;
  bottom: 0;
  border-radius: 20px 20px 0 0;
  background: var(--color-secondary);
  height: 90px;
  right: -45px;

  width: 120%;
}

@keyframes animateUser {
  50% {
    right: 30px;
    top: 150px;
  }
}

.imgbox #hex {
  position: absolute;
  top: 0;
  left: 0;

  filter: saturate(140%);
  width: 100%;
  object-fit: contain;
  animation: animateHex 7s linear infinite;
}

@keyframes animateHex {
  100% {
    transform: rotate(180deg);
  }
}

@media (max-width: 1024px) {
  .wrapper {
    padding: 80px 15px 0;
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }
  .imgbox span {
    top: 0;
  }
  .wrapper h1 {
    font-size: 5rem;
  }
  .wrapper button {
    font-size: 1.5rem;
  }

  .topline {
    font-size: 2.5rem;
  }

  .topline::after {
    width: 25px;
  }

  body {
    overflow-y: scroll;
  }

  .cols0 {
    margin: 0;
  }

  .imgbox span::after {
    height: 30px;
  }
  @keyframes animateUser {
    50% {
      right: 30px;
      top: 10px;
    }
  }
}
